
body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}
h2 {
    color: red;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid red;
}
footer img{
    width: 100px;
    height: 100px;
}





.center {
    text-align: center;
}
