
body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
}
h2 {
    color: red;
}

header image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: red;
}
